.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;

    .side {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
